@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IANMAcR23K2W2XJa2LmwCb4.ttf) format('truetype');
}
/* Page styling  */
#page {
	width: 100%;
	padding: 1%;
	font-family: Arial, Verdana, sans-serif;
	margin: 0% auto;
	background-color: #D9CA99;
	border: 2px solid #000;
	border-radius: 20px;
	box-shadow: 2px 2px 30px;
	background-image: url("../images/crane.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	}


/* Main Heading style 30px = 3.125% 60px = 6.25%*/
h1 {
	color: rgba(220, 98, 25, 0.85);
	font-family: Kaushan Script, Arial, Verdana, sans-serif;
	font-size: 35px;
	text-shadow: 3px 3px 4px #cccccc;
	text-align: center;
	margin: 3.125% auto 6.25% auto;
	background-image: url("../images/pattern_140.gif");
	background-repeat: repeat-x;	
	}
	
/* Navigation style 15px = 1.56%*/
nav {
	color: #011640;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	margin: 1.56% auto;
	text-align: center;
	}

nav li {
	display: inline;
	margin-left: 2%;
	border: 1px solid #000;
	padding: 1%;
	}

/* Introduction style */
p {
	line-height: 18px;
	}
	
/* Introduction style 62.5% = 600px 1%=10px */
#intro {
	float: left;
	width: 62.5%;
	margin: 1%;
	}

/* Types of Origami Style style 31.25% = 300px */
aside {
	float: right;
	width: 31.25%;
	margin: 1%;
	}

/* Quotation style 21.5% = 200px */	
#blockquote {
	float: right;
	width: 21.5%;
	margin: 0% auto;
	}

/* Centering of titles and content style 85.4% = 820px*/
.center {
	font-style: italic;
	text-align: center;
	width: 85.4%;
	margin: 1% auto;
	}

/* Two Columns of content style 44.8% = 430px 2% = 20px*/	
#section1of2 {
	float: left;
	width: 44.8%;
	margin: 2%;
	}

#section2of2 {
	float: left;
	width: 44.8%;
	margin: 2%;
	}

/* Heading style 25px = 1.563em 20px = 1.250em */	
h3 {
	font-size: 1.563em;
}

h4 {
	color: hsl(121,32%,55%);
	font-size: 1.250em;
	text-shadow: 1px 1px 2px #ccc;
	}
	
/* Listing style - Origami Styles 615px = 64% 5px = .052% */

ol {
	font-family: Georgia, Times, serif;
	line-height: 20px;
	font-size: 90%;
	width: 64%;
	text-align: left;
	margin: .052% auto .052% auto;
	}

/* link styles */

a:link {
	color: #011640;
	text-decoration: none;}
a:visited {
	color: #000;}
a:hover {
	color: #A68C50;
	text-decoration: underline;}
a:active {
	color: #D93654;}

/* Image styles 15.6% = 150px 10px = 1% */
.pic {
	width: 15.6%;
	height: 15.6%;
	display: inline-block;
	margin: 0% 2% 1% 2%;
	}
	
/* Image styles 3px = .312% 10px = 1%*/	
#footer li {
	display: inline;
	margin: .312% 1%;
	}
	
#art {
	text-indent: 45px;
	background-image: url("../images/art.png");
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	padding: 20px;
	}
	
table {
	font-family: Helvetica, Arial, sans-serif;
	width: 530px;
	border: 1px solid #777;
	border-spacing: 5px;
	padding: 10px;
	letter-spacing: 1px;
	font-size: 15px;
	background-color: rgba(220, 98, 25, 0.40);
	}

th {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	text-align: left;
	padding-right: 10px;
	}

tr:hover {
	background-color: #ccc;
	}