@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IANMAcR23K2W2XJa2LmwCb4.ttf) format('truetype');
}
/* Page style */
#page {
	background-color: #D9CA99;
	max-width: 840px;
	margin: auto;
	padding: 20px;
	border: 4px #000;
	border-radius: 30px;
}
/* Navigation style */
nav ul {
	font-family: Arial, Verdana, sans-serif;
	color: #011640;
	display: inline;
	border: 1px #;
}

a:link {
	color: #011640;
	text-decoration: none;}
a:visited {
	color: #000;}
a:hover {
	color: #A68C50;
	text-decoration: underline;}
a:active {
	color: #D93654;}

/* Main Heading style */
h1 {
	color: rgba(220, 98, 25, 0.85);
	font-family: Kaushan Script, Arial, Verdana, sans-serif;
	font-size: 35px;
	text-shadow: 3px 3px 4px #cccccc;
	text-align: center;
}
/* Subheading style */
h2, {
	color: hsl(141,32%,55%);
	font-family: Arial, Verdana, sans-serif;
	font-style: italic;
	font-weight: bold;
}
/* Sub-subheading style */
h3, h4 {
	color: #011640;
	font-family: Arial, Verdana, sans-serif;
	font-style: italic;
}

/* emphasis style */
strong {
	color: #618C79;
	font-family: Arial, Verdana, sans-serif;
	font-size: 90%;
	margin: 5px auto 5px auto;
}
/* Paragraph styling */
p {
	font-family: Georgia, Times, serif;
	line-height: 20px;
	font-size: 90%;
	width: 620px;
	text-align: left;
	margin: 1px auto 1px auto;
}
/* Listing style */
ol {
	font-family: Georgia, Times, serif;
	line-height: 20px;
	font-size: 90%;
	width: 615px;
	text-align: left;
	margin: 5px auto 5px auto;

a {
	display: block inline;
	}
/* link styles */
a {
	border: 2px solid;
	display: inline-block;
}

a:link {
	color: #011640;
	text-decoration: none;}
a:visited {
	color: #000;}
a:hover {
	color: #A68C50;
	text-decoration: underline;}
a:active {
	color: #D93654;}
	
ol {
	list-style-type: lower-alpha;
}